{% extends 'layout.twig' %}

{% block body %}

    <h1>Bienvenue à MetCity</h1>
    <form action="/villes/add" method="get">
        <button class="button" type="submit">Ajouter une ville</button>
    </form>

    <form action="/villes" method="get">
        <button class="button" type="submit">Accéder à la liste des villes</button>
    </form>

    <form action="/weather-details/alerts" method="get">
        <button class="button" type="submit">Alertes météorologiques</button>
    </form>
{% endblock %}

