body {
  font-family: 'Arial', sans-serif;
  background-image: url('../images/BackgroundPage.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
  padding-top: 50px;
}
.button {
  display: block;
  width: 300px;
  padding: 20px;
  margin: 20px auto;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.25em;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #365f91;
  outline: none;
}

h1 {
  color: #ffffff;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
  border-radius: 8px;
  max-width: max-content;
  margin: 0 auto;
  line-height: 1.3;
  letter-spacing: 0.08em;
}


.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
